@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background: linear-gradient(rgb(215, 109, 119), rgb(255, 175, 123));
  min-height: 100vh;
  text-align: center;
}

h1 {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.score {
  display: inline;
}

.frame {
  border: none;
  background: white;
  color: black;
  text-align: left;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
}

.frame__legend, .frame__score {
  flex: 1;
}

.frame__selection {
  flex: 2;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 0.5em;
}

h2 {
  padding-bottom: 0.5em;
}

.square {
  width: 8px;
  height: 8px;
  display: inline-block;
}

.yellow {
  background: yellow;
  border: 1px solid darkorange;
}
.green {
  background: green;
  border: 1px solid darkgreen;
}

.blue {
  background: cornflowerblue;
  border: 1px solid darkcyan;
}

.violet {
  background: violet;
  border: 1px solid darkmagenta;
}

.grey {
  background: gray;
  border: 1px solid darkgray;
}

.submit {
  padding: 0.5em 0.95em;
  background: rgb(215, 109, 119);
  border: none;
  border-radius: 5px;
  color: white;
}

select, input[type=number] {
  flex: 1;
  padding: 0.5em 0.95em;
  border: 1px solid lightgrey;
}

.level, .time, .multiplier, .gameSpeed {
  display: flex;
  align-items: center;
}

form {
  margin-left: 0.7em;
  flex: 1;
}

.frame__selection p {
  flex: 1;
  padding-top: 1.5em;
  margin-right: 0.7em;
}